{% extends 'base.html.twig' %}

{% block head %} 
    {{ parent() }} {# Mantener el contenido del bloque head de la plantilla base #}
    <title>{% block title %} Página principal | {{ parent() }} {% endblock %}</title>
{% endblock %}

{% block body %}
    <section class="l-contenedor l-contenedor--landing">
        <div class="c-presentacion">
            <video type="video/mp4" width="600px" height="350px" controls src="{{asset('videos/ginecologo.mp4')}}"></video>
            <article>  
                <h2 class="g-fontsize--2">¿Buscas un servicio de ginecología más cercano?</h2>
                <p class="g-fontsize--1">Nuestros médicos te atenderán con la atención y confianza que buscas.</p>
                <a href="{{path('app_register')}}"><button class="c-botonGrande">Regístrate y pide tu cita</button></a>
            </article>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <footer>
        <p>&copy; 2023 Cereco - Todos los derechos reservados</p>
    </footer>
{% endblock %}
