//---FORMULARIO---
.c-formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    border-width: 1px;
    border-color: $secundario;
    border-style: solid;
    border-radius: 5px;

    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: white;

    &--inicio{
        width: 80%;
    }
    
    &--consulta{
        flex-direction: row;
        width:85%;
        height: auto;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        background-color: $primario;
    }

    &--detalleParte{
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
        width:80%;
        height: 50%;
        padding: 20px;
    }

    &--vertical{
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;
        align-items: center;
        width:850px;
        height: 400px;
        padding: 20px;   
    }

    &--datosParte{
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
        width:100%;
        height: auto;
    }
}

.c-formulario *{
    margin: 5px;
}

.c-formulario a{
    font-size: 11px;
}

.c-formulario fieldset{
    border-width: 0px;
    width: 400px;
}

.c-formulario--consulta fieldset{
    border-width: 0px;
    width: 300px;
}

/*
.c-conjuntoDatos{
    background-color: red;
}*/

//---DATOS QUE SE MUESTRAN EN LA CABECERA---

.c-cajaDatos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 5px;
    margin-bottom: 3px;

    background-color: $cajas;
    border-radius: 7px;

    &--registro{
        justify-content: flex-end;
    }
}

.c-cajaDatos input{
    margin-left: 5px;
}

.c-conjuntoDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.c-conjuntoDatos#datosUser{
    border: 0;
    border-left: 1px;
    border-style: solid;
    border-color: $enfasis;

    height: 80%;
    padding: 10px;
}

//---MENSAJE DE CABECERA---
#bienvenida{
    font-size: 30px;
    color: $enfasis;
    text-align: center;
}

//-----------------------------------------