//---ESTILOS GLOBALES---
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border box;
}

html{
    height: 100vh;
}

body.pagMedico{
    display: flex;
}

body.pagBase{
    display: grid;
    //grid-template-rows: 10.3% 88%;
    height: 100vh;
    grid-template-areas: "cabecera" 
                        "cuerpo";
    grid-template-rows: 16.5%;
    background-color: $primario;
    background-image: url(../imagenes/fondoCompleto.jpg);
    background-repeat:unset;
    background-position: center center;
    background-size: cover;
}

.g-error{
    color: $alerta;
}

footer{
    background-color: $secundario;
    width: 100%;
    height: 130px;
    color: $enfasis;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11.5px;
    margin-top: 45px;
}

@media (prefers-reduced-motion: no-preference){
    *{/*Salto de navegación suave*/
        scroll-behavior: smooth;
    }
}
//--------------------------------------------------------