//---LAYOUT---

header{
    grid-area: cabecera;
    width: 100%;
}

.l-contenedor{

    height: 100%;
    grid-area: cuerpo;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;

    &--doble{
        justify-content: space-around;
    }

    &--gestion{
        //grid-template-columns: 10% 90%;
        //grid-template-areas: "menu" "seccion";
        justify-content: flex-start;
        //align-items: flex-start;
    }

    &--formulariosContitulo{
        flex-direction: column;
        vertical-align: top;
    }

    &--medico{
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        align-content: flex-start;
        grid-area: none;
        //display: flex;
    }

    &--consulta{
        flex-direction: row;
        justify-content: flex-start;
        align-content: flex-start;
    }
}


.l-inputForm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.l-menu{
    display: flex;
    flex-direction: column;
    //justify-content: flex-start;
    //align-items: flex-start;
    width: 15%;
    height: 100%;
}

//-----------------------------------------