//---------CABECERA DE LA WEB----------

.c-cabecera{
    //grid-area: menu;

    background-color: #ffffff;
    border-color: $primario;
    border-width: 1px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
}


.c-cabecera h1{
    margin-left: 15px;
    color: $enfasis;
}

.c-cabecera div.c-titulo{
    display: flex;
    flex-direction: row;
    padding: 8px;
    justify-content: flex-start;
    align-items: center;
}

.c-cabecera div.c-datosUsu{
    margin-right: 30px;
    font-size: 12px;
}

.c-cabecera em{
    color: $enfasis;
}

.c-cabecera p.c-fecha{
    color: $primario;
    font-size: 11px;
}

//---------MENÚ VERTICAL----------
.c-menu{
    width: 100%;
    &--menuPestanias{
        height: 100%;
        grid-area: cabecera;
        display: flex;
        flex-direction: row;
        padding: 8px;
        justify-content: space-between;
        align-items: center;
        background-color: $secundario;
    }
}
//----------MENÚ EN PESTAÑAS-----------
.c-menu ul.ui-widget-header{
    background-color: $secundario;
    border-width: 0;
}
.c-menu .ui-tabs .ui-tabs-nav li{
    padding: 25px;
    list-style: none;
    background-color: $primario;
}

//-----------------------------------------
