.c-presentacion{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.c-presentacion article{
    background-color: $secundario;
    width: 400px;
    height: 250px;
    text-align: center;
    color: $titulosAdmin;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}