@mixin shadow($size){
    @if $size==0{
        box-shadow: 0 1px 3px hsla(0,0%,0.2%);
    }
    @if $size==1{
        box-shadow: 0 4px 6px hsla(0,0%,0.2%);
    }
    @if $size==2{
        box-shadow: 0 5px 15px hsla(0,0%,0.2%);
    }
    @if $size==3{
        box-shadow: 0 10px 24px hsla(0,0%,0.2%);
    }
    @if $size==4{
        box-shadow: 0 15px 35px hsla(0,0%,0.2);
    }
}
@for $i from 0 to 5{
    .g--shadow-#{$i} {
        @include shadow($i);
    }

}




