{#MENÚ EN PESTAÑAS#}
<header>
    <nav class="c-menu c-menu--menuPestanias">
        <ul>
            {# Según los roles mostramos al usuario unas pestañas u otras #}
            {% for rol in app.user.roles %}
            {# Para el rol administrativo #}
            {% if rol == 'ROLE_ADMINISTRATIVO' %}
                <li><a href="#nav-agenda">Agenda</a></li>
                <li><a  href="#nav-pacientes">Pacientes</a></li>
            {% else %}{# Para el rol médico #}
                <li><a href="#nav-consulta">Pasar consulta</a></li>
                <li><a href="#nav-agenda">Agenda</a></li>
                <li><a href="#nav-pacientes">Pacientes</a></li>
                {# Acceso a administración de datos en EasyAdmin #}
                <li>
                    <a href="{{path('admin')}}">Datos maestros</a>
                </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div>  
                <p><em>Hola</em> {{ app.user.email}}</p>
                <a href="{{path('app_logout')}}">Cerrar sesión</a>
            </div>
        {% endif %}
        
    </nav>
</header>