<!--Medico-->
<section class="l-contenedor l-contenedor--medico">
{% block cabeceras %}
    <!--cabeceras-->
    {% include("medico/_menuPestanias.html.twig") %} 
{% endblock %}

<!--body-->
{% block body %} 

    {#CONTENEDORES DEL CONTENIDO DE LAS PESTAÑAS#}
    <div class="tab-content l-contenedor" id="nav-tabContent">

        {% if is_granted('IS_AUTHENTICATED_FULLY')%}
        {# Según los roles mostramos al usuario unas pestañas u otras #}
        {% for rol in app.user.roles %}
        <!--Para el rol administrativo-->
        {% if rol == 'ROLE_ADMINISTRATIVO' %}
            {#AGENDA#}
            <div class="tab-pane fade active l-contenedor" id="nav-agenda" role="tabpanel" aria-labelledby="nav-agenda-tab">
                <div id="calendar"></div>
            </div>
            {#PACIENTES#}
            <div class="tab-pane fade l-contenedor" id="nav-pacientes" role="tabpanel" aria-labelledby="nav-pacientes-tab">pacientes</div>
        {% else %}
            <!--Para el rol médico-->
            {#PASAR CONSULTA#}
            <div class="tab-pane fade show active l-contenedor l-contenedor--consulta" id="nav-consulta" role="tabpanel" aria-labelledby="nav-consulta-tab">
                <div class="c-cabeceraDatos">
                    <form action="post" id="datosPacienteConsulta" class="c-formulario c-formulario--consulta">
                        <fieldset>
                            <label for="nombre">Nombre</label>
                            <input type="text" name="nombre">
                        </fieldset>
                        <fieldset>
                            <label for="ap1">Primer apellido</label>
                            <input type="text" name="ap1">
                        </fieldset>   
                        <fieldset>
                            <label for="ap2">Segundo apellido</label>
                            <input type="text" name="ap2">
                        </fieldset>
                        <fieldset>
                            <label for="dni">DNI</label>
                            <input type="text" name="dni">
                        </fieldset>
                        <fieldset>
                            <label for="seguro">Seguro médico</label>
                            <input type="checkbox" name="seguro" id="seguro">
                        </fieldset>
                        <fieldset>
                            <label for="tarjeta">Tarjeta</label>
                            <input type="text" name="tarjeta">
                        </fieldset>
                        <fieldset>
                            <label for="tipoConsulta">Tipo de consulta</label>
                            <input type="checkbox" name="tipoConsulta" id="tipoConsulta">
                        </fieldset>
                    </form>

                    <img src="{{asset('/imagenes/mujer.png')}}" id="fotoPaciente" alt="">
                </div>
                <div class="c-bodyDatos">
                    <div>
                        <label for="notasConsulta">Notas médicas</label>
                        <textarea name="notasConsulta" id="notasConsulta" cols="30" rows="11"></textarea>
                    </div>
                    <div>
                        <form action="post" id="medicacionConsulta" class="c-formulario c-formulario--datosMedicacion">
                            <fieldset>
                                <label for="medicamento">Medicamento</label>
                                <input type="text" name="medicamento">
                            </fieldset>
                            <fieldset>
                                <label for="posologia">Posología</label>
                                <textarea name="posologia" id="posologia" cols="60" rows="2"></textarea>
                            </fieldset>   
                            <fieldset>
                                <label for="suspension">Suspensión</label>
                                <input type="checkbox" name="suspension" id="suspension">
                            </fieldset>
                            <fieldset>
                                <label for="motivo">Motivo</label>
                                <textarea name="motivo" id="motivo" cols="60" rows="2"></textarea>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            {# FIN PASAR CONSULTA #}
            {#AGENDA#}
            <div class="tab-pane fade l-contenedor" id="nav-agenda" role="tabpanel" aria-labelledby="nav-agenda-tab">
                <div id="calendar"></div>
            </div>
            {#PACIENTES#}
            <div class="tab-pane fade l-contenedor" id="nav-pacientes" role="tabpanel" aria-labelledby="nav-pacientes-tab">pacientes</div>
            {#DATOS
            <div class="tab-pane fade l-contenedor" id="nav-datos" role="tabpanel" aria-labelledby="nav-datos-tab">datos</div>#}
        {% endif %}
        {% endfor %}

    </div>
    {% endif %}
</section>

{% endblock %}