<!--Medico-->
<section class="l-contenedor l-contenedor--medico" id="nav-tab">

	{% block cabeceras %}
		{% include("medico/_menuPestanias.html.twig") %}
	{% endblock %}

	{% block body %}

		{#CONTENEDORES DEL CONTENIDO DE LAS PESTAÑAS#}
		<div class="tab-content l-contenedor--medico">

			{% if is_granted('IS_AUTHENTICATED_FULLY')%}
				{# Según los roles mostramos al usuario unas pestañas u otras #}
				{% for rol in app.user.roles %}
					
					{% if rol == 'ROLE_ADMINISTRATIVO' %}
						{# Para el rol administrativo #}
						{#AGENDA#}
						<div class="l-contenedor" id="nav-agenda">
							<div id="calendar"></div>
							<div id="dialog" title="Seleccionar Hora"></div>
						</div>

						{#PACIENTES#}
						{% include("medico/_tablaPacientes.html.twig") %}

					{% else %}
						{# Para el rol médico #}
						{#PASAR CONSULTA#}
						{% include("medico/_pasarConsulta.html.twig") %}

						{#AGENDA#}
						<div class="l-contenedor" id="nav-agenda">
							<div id="calendar"></div>
							<div id="dialog" title="Seleccionar Hora"></div>
						</div>

						{#PACIENTES#}
						{% include("medico/_tablaPacientes.html.twig") %}
	
					{% endif %}
				{% endfor %}

		</div>
		{% endif %}
</section>

	{% endblock %}
