{% extends 'main/index.html.twig' %}

{% block body %}
<section class="l-contenedor" id="nav-agenda">
    <div id="calendar"></div>
    <div id="dialog" title="Seleccionar Hora"></div>
</section>
{% endblock %}

{# JAVASCRIPTS #}
{% block javascripts %}
    {% include("javascripts/_calendario.html.twig") %}
{% endblock %}