<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="{{asset('imagenes/iconos/logoicon.png')}}">
        {% block head %} 
            <title>{% block title %}Clínica ginecológica{% endblock %}</title>
            {# ESTILOS #}
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ asset('estilos/main.css') }}" media="screen">
            {% endblock %}
        {% endblock %}
    </head>
    <body class="{{ bodyclass }}">
        
        {% block cabeceras %} 
            {{ include("_cabecera.html.twig") }}
        {% endblock %}
        
        {% block body %}{% endblock %}
        
        {% block footer %}{% endblock %}
        {# JAVASCRIPTS #}
            {% block javascripts %}
                {#{% include("javascripts/_bootstrapJs.html.twig") %}#}
                {% include("javascripts/_jqueryJs.html.twig") %}
            {% endblock %}
    </body>
</html>
