<!DOCTYPE html>
<html>
    {% block head %} 
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Clínica ginecológica{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{asset('imagenes/iconos/logoicon.png')}}">
        {# ESTILOS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('estilos/main.css') }}" media="screen">
        {% endblock %}
        {# JAVASCRIPTS #}
        {% block javascripts %}
            {{ include("javascripts/_bootstrapJs.html.twig") }}
        {% endblock %}
    </head>
    {% endblock %}
    <body>
        
        <!--INICIO CABECERA-->
        {% block cabeceras %} 
            {{ include("_cabecera.html.twig") }}
        {% endblock %}
        <!--FIN CABECERA-->

        <!--INICIO CUERPO-->
        {% block body %}
        {% endblock %}
        <!--FIN CUERPO-->
        
    </body>
</html>
